.navbar-custom {
    background-color: #bf0bc5;
}

/* change the brand and text color */
.navbar-custom .navbar-brand{
  font-family: cursive;
  font-weight: bolder;
  color: #ffffff;
  padding: 10px 30px;
}

.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);

}/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(248, 245, 245);
    /* margin: 0 20px; */
    padding: 10px 20px;
}/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: purple;
}